header.tpl__header {
    background-color: transparent;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    transition: all .3s;
    &.fixed{
        padding: .5rem;
        transition: all .3s;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        img.logo{
            height: 40px;
            transition: all .3s;
        }
         li a{
             color: black;
         }
    }

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
        img.logo{
            width: auto;
            height: 60px;
        }
    }

    nav{
        ul{
            gap: 2rem;
            li {
                a{
                    color: #ffffff;
                    text-decoration: none;
                    position: relative;
                    padding: .5rem 0;
                    &:after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 2px;
                        background-color: #CBA36B;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        transform: scaleX(0);
                        transition: transform 0.3s ease;
                        z-index: 100;
                    }
                    &:hover::after {
                        transform: scale(1);
                    }
                }
            }
        }
    }
    .botao{
        background-color: $tertiary;
        color: white;
        padding: .5rem 1rem .5rem 3.5rem;
        &:after{
            display: none;
        }
    }

}
footer.tpl__footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    p{
        margin: 0;
    }
    a {
        color: white;
    }
}
.botao.zap{
    background-image: url("../../assets/images/icon-whatsapp.webp");
    background-size: 32px 32px;
    background-position: 1rem center;
    background-repeat: no-repeat;
    padding-left: 3.5rem;
}
.ttl.white, .copy.white{
    color: white;
    span{
        display: block;
    }
}