@media screen and (max-width: 768px) {
    //header
    header.tpl__header {
        .container{
            justify-content: center;
            nav{
                display: none;
            }
            a{
                display: none;
            }
        }
    }

    //home__hero
    .home__hero{
        #prancheta{
            bottom: 13rem;
        }
        .container{
            h1{
                width: auto;
            }
            p{
                width: auto;
            }
        }
        .pure-slide__container{
            gap: 2%;
            .slide{
                flex-basis: 49%;
                width: 200px !important;
                flex-shrink: 0;
            }
        }
    }

    //home__produtos
    .home__produtos{
        .container{
            .col{
                flex-wrap: wrap;
                margin-bottom: 4rem;
                div{
                    padding: 1rem 0;
                    flex-wrap: wrap;
                }
            }
            div{
                grid-template-columns: 1fr;
            }
        }
    }

    //home__duvidas
    .home__duvidas{
        .container{
            details{
                width: auto;
            }
        }
    }

    //home__historia
    .home__historia{
        padding-bottom: 4rem;
        .container{
            .historia__text{
                width: auto;
            }
            .col{
                .historia{
                    h2, p{
                        width: auto;
                        text-align: center;
                    }
                    a{
                        width: 100%;
                    }
                }
            }
            img{
                display: none;
            }
        }
    }

    //home__orcamento
    .home__orcamento{
        .container{
            .col{
                width: auto;
                form{
                    #btn__forms{
                        flex-wrap: wrap;
                        width: 100%;
                    }
                }
                h2{

                }
            }
            .bg__forms{
                display: none;
            }
        }
    }

    //footer
    .tpl__footer {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
        padding: 2rem 1rem;
    }
}